
<div class="card">
	<div class="card-body">
		<h5>Ett mejl har skickats till epostadressen du angav tidigare.</h5>
		<h5>Om inget mejl har kommit, kolla skräpposten.</h5>
		<h5>Om inget mejl fortfarande har kommit efter 10 minuter var god och kontakta support.</h5>
	</div>
</div>