@model AuctionSite1.Models.ViewModels.RegisterViewModel


<div class="card col-md-5">
	<div class="card-body col-md-12">
		<form id="register" asp-controller="Users" asp-action="Register" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label for="email">Emailadress:</label>
				<input id="email" asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="pass1"> Lösenord: </label>
				<input asp-for="Password" id="pass1" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="pass2">Verifiera lösenord:</label>
				<input id="pass2" asp-for="ConfirmPassword" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<button class="btn btn-success" id="btnReg">Skapa</button>
			<a class="float-right mt-1 mr-4" asp-controller="Users" asp-action="LogIn">Tillbaka till logga in?</a>
		</form>
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}