@model AuctionSite1.Models.Reload

<form class="form-inline my-2 my-lg-0 mr-5" asp-controller="Auctions" asp-action="AuctionSearch" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
	<input class="form-control mr-sm-5" asp-for="Text">
	<span asp-validation-for="Text" class="text-danger"></span>

	<button id="SearchBtn" class="btn btn-outline-success my-2 my-sm-0  mr-lg-5" type="submit">Search</button>
</form>